<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de tarefas</title>
</head>
<body>
<h1>Tarefas</h1>
<hr>

<p>
    <a href="{{ url_for('cadastrar') }}">Cadastrar Tarefas</a>
</p>
<p>
    <a href="{{ url_for('listar') }}">Tarefas</a>
</p>
<hr>
{%- for mensagem in get_flashed_messages() %}
    <div class="flash-message">
        {{ mensagem }}
        <button class="close-button" onclick="this.parentElement.style.display='none';">X</button>
    </div>
{%- endfor %}
{% block conteudo %}
{% endblock %}
</body>
</html>